.about-galery {
  display: flex;
  width: 350px;
  height: 325px;
}
.about-galery img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.9;
  transition: 0.5s ease;
}
.about-galery img:hover {
  cursor: crosshair;
  opacity: 1;
  width: 300px;
}
.galery-containter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.acerca-container {
  display: block;
  align-items: center;

  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  padding-top: var(--header-height);
  padding-left: 1rem;
  padding-right: 1rem;
}

.acerca-title {
  color: gray;
  font-family: "Ms Madi";
  font-size: 60px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.acerca-title-container {
  text-align: center;
}
.description {
  padding-top: 1rem;
  display: block;
  text-align: left;
  max-width: 800px;
  align-items: center;
  margin: auto;
}


/* utilidades */
.col-text {
  color: rgb(253, 76, 76);
}

/* media query */
@media (min-width: 625px) {
  .col-text {
    color: orange;
  }
}
