.acerca-container {
  display: block;
  text-align: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}

.acerca-title {
  color: gray;
  font-family: "Ms Madi";
  font-size: 60px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.img-about{
  width: 250px;
  height: auto;
  
}

/* utilidades */
.col-text {
  color: rgb(253, 76, 76);
}

/* media query */
@media (min-width: 625px) {
  .col-text {
    color: orange;
  }
}
