.card-title {
  font-size: 1.5rem;
  /* text-align: center; */
  margin-bottom: 10px;
  color: #fff;
}
.card-container {
  display: block;
  text-align: center;
  /* width: 300px; */
  height: 33vh;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: white;
  background-color: rgb(253, 76, 76);
  margin-top: 1rem;
}

.servicios {
  display: block;
  width: 100%;
  padding-top: var(--header-height);
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
}
.servicios a {
  text-decoration: none;
  color: rgb(94, 94, 94);
}
.servicios-container a:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.servicios-title {
  font-family: "Ms Madi";
  font-size: 60px;
  text-align: center;
  line-height: 1.5;
  color: #333;
  margin: 0;
}
.servicios-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

.img-card {
  background-image: var(--card-image);
  background-size: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

/* media querys */

@media (min-width: 625px) {
  .servicios-container {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    background-color: #fff;
    max-width: 1200px;
    color: rgb(94, 94, 94);
  }
  .card-container {
    background-color: orange;
  }
}
