@import url("header.css");
@import url("inicio.css");
@import url("acerca.css");
* {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #fff;
}

/* Utilidades */

.none {
  display: none;
}
